@font-face {
	font-family: 'BentonSansRegular';
	src: url("https://fonts.iu.edu/fonts/benton-sans-regular.eot");
	src: url("https://fonts.iu.edu/fonts/benton-sans-regular.eot?#iefix") format("embedded-opentype"), 
		 url("https://fonts.iu.edu/fonts/benton-sans-regular.woff") format("woff"), 
		 url("https://fonts.iu.edu/fonts/benton-sans-regular.ttf") format("truetype"), 
		 url("https://fonts.iu.edu/fonts/benton-sans-regular.svg#BentonSansRegular") format("svg");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: 'BentonSansCondBold';
	src: url("https://fonts.iu.edu/fonts/benton-sans-cond-bold.eot");
	src: url("https://fonts.iu.edu/fonts/benton-sans-cond-bold.eot?#iefix") format("embedded-opentype"), 
		 url("https://fonts.iu.edu/fonts/benton-sans-cond-bold.woff") format("woff"), 
		 url("https://fonts.iu.edu/fonts/benton-sans-cond-bold.ttf") format("truetype"), 
		 url("https://fonts.iu.edu/fonts/benton-sans-cond-bold.svg#BentonSansCondBold") format("svg");
	font-style: normal;
	font-weight: normal;
}
/*


@font-face {
	font-family: 'BentonSansRegular';
	src: url("../fonts/benton-sans-regular.eot");
	src: url("../fonts/benton-sans-regular.eot?#iefix") format("embedded-opentype"), 
		 url("../fonts/benton-sans-regular.woff") format("woff"), 
		 url("../fonts/benton-sans-regular.ttf") format("truetype"), 
		 url("../fonts/benton-sans-regular.svg#BentonSansRegular") format("svg");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: 'BentonSansCondBold';
	src: url("../fonts/benton-sans-cond-bold.eot");
	src: url("../fonts/benton-sans-cond-bold.eot?#iefix") format("embedded-opentype"), 
		 url("../fonts/benton-sans-cond-bold.woff") format("woff"), 
		 url("../fonts/benton-sans-cond-bold.ttf") format("truetype"), 
		 url("../fonts/benton-sans-cond-bold.svg#BentonSansCondBold") format("svg");
	font-style: normal;
	font-weight: normal;
}


*/



#branding-bar, footer {
	-webkit-font-smoothing: initial;
	-moz-font-smoothing: initial;
	font-smoothing: initial;
}
#branding-bar *, footer * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#branding-bar .row, footer .row {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	margin-bottom: 0;
	/*max-width: 64rem;*/
	position: relative;
}
#branding-bar .row:before, #branding-bar .row:after, footer .row:before, footer .row:after {
	content: " ";
	display: table;
}
#branding-bar .row:after, footer .row:after {
	clear: both;
}
#branding-bar .row.pad, footer .row.pad {
	padding-left: 0.9375rem;
	padding-right: 0.9375rem;
	width: 100%;
}
#branding-bar {
	background-color: #7A1705;
	border-top: 5px solid #990000;
	/*position: fixed;*/
	top: 0;
	width: 100%;
	z-index: 10;
}
#branding-bar .show-on-mobile {
	display: inline;
}
#branding-bar .show-on-tablet, #branding-bar .show-on-desktop {
	display: none;
}

#branding-bar img {
	position: absolute;
	top: -5px;
	left: 0px;
	width: 43px;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}
#branding-bar h1, #branding-bar #iu-campus {
	font-family: BentonSansCondRegular, Arial, serif;
	font-weight: normal;
	color: #fff;
	font-size: 18px;
	float: left;
	line-height: 45px;
	margin: 0;
	padding-left: 48px;
	text-transform: uppercase;
	-webkit-transition: all 0.25s;
	-moz-transition: all 0.25s;
	transition: all 0.25s;
}
#branding-bar h1 a, #branding-bar #iu-campus a {
	color: #fff;
	text-decoration: none;
}
#branding-bar h1 span, #branding-bar #iu-campus span {
	font-family: inherit;
}
#branding-bar h1 .show-on-tablet, #branding-bar h1 .show-on-mobile, #branding-bar #iu-campus .show-on-tablet, #branding-bar #iu-campus .show-on-mobile {
	font-size: 17px;
}
