.ah-carousel {
  max-width:800px;
  margin:0 auto 20px auto;
  position:relative;
  z-index:99;
  .carousel-item {
    background-color:#ffffff;
    position:absolute;
    top:0;
    -webkit-transition:-webkit-transform 1s ease, opacity 1s ease;
    -moz-transition:-moz-transform 1s ease, opacity 1s ease;
    -o-transition:-o-transform 1s ease, opacity 1s ease;
    transition:transform 1s ease, opacity 1s ease;
    & .focused {
    	border: 1px solid #f00;
    }
    img {
      width:100%;
    }
    a {
      color:inherit;
      text-decoration:none;
      display:block;
    }
    .featured-image-small {
      float:left;
      width:22.3%;
      margin-right:15px;
    }
    img.banner-image {
      max-width:740px;
    }
    .featured-text {
      padding:15px;
      h4 {
        font-weight:bold;
      }
      p {
        margin:0;
      }
    }
    .featured-text.single {
      padding-right:15px;
    }
    h3 {
      margin-top:0;
    }
  }
}






/*



.carousel {
max-width: 740px;
margin: 0 auto 0 auto;
}

.carousel-inner  img, .ah-carousel .carousel-item  img {
width: 100%
}

.carousel a, .ah-carousel .carousel-item  a {
color: inherit;
text-decoration: none;
display: block;
}

.carousel .featured-image-small {
float: left;
width: 33.55%;
margin-right: 30px;
}

.ah-carousel .carousel-item .featured-image-small {
float: left;
width: 22.3%;
margin-right: 15px;
}

.ah-carousel .carousel-item img.banner-image {
max-width: 740px;
}

.carousel .featured-image-small img {
max-width: 206px;
}

.carousel .featured-text {
padding: 15px 15% 15px 15px;
}

.ah-carousel .carousel-item .featured-text {
padding: 15px;
}

.carousel .featured-text.single, .ah-carousel .carousel-item .featured-text.single {
padding-right: 15px;
}

.carousel .featured-text h4, .ah-carousel .carousel-item .featured-text h4 {
font-weight: bold;
}

.carousel .featured-text p, .ah-carousel .carousel-item  .featured-text p {
margin: 0;
}

.ah-carousel {
max-width: 800px;
margin: 0 auto 20px auto;
position: relative;
overflow:hidden;
}

.ah-carousel .carousel-item {
background-color: #fff;
position: absolute;
top:0;

-webkit-transition: -webkit-transform 1s ease, opacity 1s ease;
-moz-transition: -moz-transform 1s ease, opacity 1s ease;
-o-transition: -o-transform 1s ease, opacity 1s ease;
transition: transform 1s ease, opacity 1s ease;
}

.ah-carousel .carousel-item h3 {
margin-top: 0;
}


*/