
.vfy-section {
  position: relative;
  .form-group-sm {
    .control-label {
      padding-top: 1px;
    }
    .form-control-static {
      height: 15px;
      min-height: 15px;
      padding: 0px 10px;
    }
  }
  .form-group-sm.form-section-control {
    .text-right;
    .btn {
      margin-right: 15px;
    }
    hr {
      margin-top: -13px;
      margin-bottom: 0px;
    }
  }
}
