.view-admin {
  .main-content {
    .primary-content {
      margin-top: -53px;
      min-height: 600px;
      .well;
      .section-head {
        margin-bottom: 15px;
        .section-header {
          .h3 {
            margin-top: 0px;
          }
        }
        .section-controls{
        .text-right}
      }
    }
  }
}
@media (max-width: @screen-sm-max) {
  .view-admin {
    .main-content {
      .primary-content {
        margin-top: 0px;
        min-height: inherit;
        .well;
        .section-head {
          margin-bottom: 15px;
          .section-header {
            .h3 {
              margin-top: 0px;
            }
          }
        }
      }
    }
  }
}
@media (max-width:@screen-xs-max) {
  .view-admin {
    .main-content {
      width: 100%;
      .primary-content {
        .well;
        .section-head {
          .section-controls{
            .text-left}
        }
      }
    }
  }

}